@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css2?family=Playfair");
@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
    background-color: green;
    color: wheat;
    margin: auto;
    display: grid;
    font-family: "Inconsolata", Courier, monospace;
}

header {
    background-color: darkred;
}

a {
    text-decoration: none;
    color: wheat;
}

a:hover {
    color: hotpink;
  }
  
a:active {
    color: yellow;
  }

button {
background-color: blue;
border: none;
font-family: "Poppins", Courier, monospace;
padding: 15px 32px;
text-align: center;
font-weight: bolder;
text-decoration: none;
display: inline-block;
font-size: 1em;
margin: 6px 2px;
cursor: pointer;
border-radius: 25%;
}

.navbar{
    display: flex;
    flex-direction: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: left 0.5em;
    font-size: 1.5em;
    margin: 4px 2px;
    font-family: "Playfair", Courier, monospace;
    font-weight: bolder;
    list-style-type: none;
}

.container{
    display: grid;
    background-color: green;
    width: auto;
    grid-template-rows: auto;
    justify-content: center;
    grid-template-areas:
    "mhd"
    "ab"
    "ct";
}


.mainheader{
    grid-area: "mhd";
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    height: auto;
    font-size: 5em;
    text-align: center;
    justify-content: space-around;
}

.about{
    grid-area: "ab";
    background-color: wheat;
    color: darkred;
    font-size: 1em;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
}

h2 {
    font-size: 3em;
}
.avatar {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

.about li {
    font-size: 2em;
    font-display: bolder;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.content{
    grid-area: "ct";
    align-items: center;
    justify-content: center;
    padding:20px;
    flex-wrap: wrap;
}

footer{
    background-color: darkred;
}

.navfoot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
    font-family: "Playfair", Courier, monospace;
    font-weight: bold;
    list-style-type: none;
}


